<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/bootstrap-theme.min.css">
    <style>
        body{
            margin-top: 50px;
        }
    </style>
</head>

<body>
    <div class="container">
    <form class="form-horizontal" id="userInfo">
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">用户名</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" name="username" placeholder="请输入用户名">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword3" name="password" placeholder="请输入密码">
            </div>
        </div>
 
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" id="login">登录</button>
            </div>
        </div>
    </form>
    </div>
</body>
<script src="/public/js/jquery.js"></script>
<script src="/public/js/admin.js"></script>

</html>