<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>借条</title>
    <meta name="keywords" content="消费金融、信用贷、现金贷、现金分期、小额资产、现金贷系统、风控系统、运营系统">
    <meta name="description" content="CREDAN是您的一站式消费金融、现金分期、现金贷SAAS服务提供商，无需部署，您即将拥有完善的风控，反欺诈方案、自动化运营、获客管理、
以及全周期的客户管理，极大化的增加您的投资回报率！" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1,width=device-width,minimum-scale=1.0,user-scalable=no">
    <script>
    </script>
    <!-- <script src="../static/js/pdf.js"></script> -->
    <!-- <script src="../static/js/pdf_viewer.js"></script> -->
</head>

<body>
    <%= htmlWebpackPlugin.options.demoIntro%>
        <div class="entry-loading"></div>
        <div id="app"></div>
        <div backdrop class="backdrop"></div>
        <div class="signature"></div>
</body>
</html>